.signInButton {
  height: 3rem;
  border-radius: 3rem;
  padding: 0rem 1.5rem;
  background: #1f2729;
  color: var(--gray-50);
  border: 0;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }

  svg {
    height: 24px;
    width: 24px;

    &:first-child {
      margin-right: 1rem;
    }

    &.rightIcon {
      margin-left: 1rem;
    }
  }
}
